In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [ ]:
rawData = pd.read_excel('/content/drive/MyDrive/data/df.csv.xlsx')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
rawData.head()

,CONS_NO,FLAG,2014-01-01 00:00:00,2014-01-10 00:00:00,2014-01-11 00:00:00,2014-01-12 00:00:00,2014-01-13 00:00:00,2014-01-14 00:00:00,2014-01-15 00:00:00,2014-01-16 00:00:00,...,2016-09-28 00:00:00,2016-09-29 00:00:00,2016-09-03 00:00:00,2016-09-30 00:00:00,2016-09-04 00:00:00,2016-09-05 00:00:00,2016-09-06 00:00:00,2016-09-07 00:00:00,2016-09-08 00:00:00,2016-09-09 00:00:00
0,0387DD8A07E07FDA6271170F86AD9151,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,01D6177B5D4FFE0CABA9EF17DAFC2B84,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,4B75AC4F2D8434CFF62DB64D0BB43103,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B32AC8CC6D5D805AC053557AB05F5343,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,EDFC78B07BA2908B3395C4EB2304665E,1,2.9,3.42,3.81,4.58,3.56,4.25,3.86,3.53,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31

In [ ]:
#removing column 1 and 2(making InfoData)
infoData = pd.DataFrame()
infoData['FLAG'] = rawData['FLAG']
infoData['CONS_NO'] = rawData['CONS_NO']
data = rawData.drop(['FLAG', 'CONS_NO'], axis=1)   #axis 1 column ,axis 0 row

In [ ]:
data.shape

(33841, 1034)

In [ ]:
#droping duplicate row
dropIndex = data[data.duplicated()].index  # duplicates drop
data = data.drop(dropIndex, axis=0)   #droping duplicate value present wen two row are same
infoData = infoData.drop(dropIndex, axis=0) #droping duplicate index infodata

In [ ]:
#removing row with all zero(Nan) value
zeroIndex = data[(data.sum(axis=1) == 0)].index  # zero rows drop
data = data.drop(zeroIndex, axis=0) 
infoData = infoData.drop(zeroIndex, axis=0)

In [ ]:
#change column name to dates(2014/1/1 to 2014-01-01)
data.columns = pd.to_datetime(data.columns)  #columns reindexing according to dates

In [ ]:
# reindex row name (as some row has been remove till this step due to duplicate or all nan values)
data.reset_index(inplace=True, drop=True)  # index sorting
infoData.reset_index(inplace=True, drop=True)

In [ ]:
#filling nan value using neighbouring value (middle missing value replace by average 
#and other by maximum 2 distance element)
data = data.interpolate(method='linear', limit=2, limit_direction='both', axis=0).fillna(0)

In [ ]:
#removing erronoues value(fixing outliers)
for i in range(data.shape[0]):  # outliers treatment
    m = data.loc[i].mean()
    st = data.loc[i].std()
    data.loc[i] = data.loc[i].mask(data.loc[i] > (m + 3 * st), other=m + 3 * st)

In [ ]:
# save preprocessed data without scaling
data.to_csv(r'visualization.csv', index=False, header=True)  # preprocessed data without scaling

In [ ]:
df=pd.read_csv("visualization.csv")

In [ ]:
df

,2014-01-01,2014-01-10,2014-01-11,2014-01-12,2014-01-13,2014-01-14,2014-01-15,2014-01-16,2014-01-17,2014-01-18,...,2016-09-28,2016-09-29,2016-09-03,2016-09-30,2016-09-04,2016-09-05,2016-09-06,2016-09-07,2016-09-08,2016-09-09
0,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000,0.00,0.000,...,10.12,9.960,16.92,7.600000,27.220000,18.05,26.47,18.750,17.840,14.92
1,2.900,3.420,3.81,4.580,3.56,4.25,3.86,3.530,3.41,0.850,...,8.31,9.975,14.35,13.095000,26.793616,18.31,20.53,15.785,18.605,15.42
2,2.900,3.420,3.81,4.580,3.56,4.25,3.86,3.530,3.41,0.850,...,6.50,9.990,11.78,18.590000,26.800000,18.57,14.59,12.820,19.370,15.92
3,2.900,3.420,3.81,4.580,3.56,4.25,3.86,3.530,3.41,0.850,...,17.77,10.370,15.32,13.510000,12.230000,14.68,16.35,18.140,18.410,17.31
4,1.505,1.975,2.13,2.545,2.44,2.48,1.99,2.025,1.98,0.795,...,2.82,5.520,3.12,3.130000,4.200000,3.23,3.85,2.780,3.550,2.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32183,18.900,0.000,0.00,24.080,17.99,18.70,18.88,16.680,21.17,14.580,...,7.13,8.740,6.26,7.940000,8.240000,9.36,9.00,8.000,7.530,6.71
32184,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000,0.00,0.000,...,223.88,184.340,172.69,205.440000,207.640000,233.38,194.74,183.910,182.190,256.04
32185,1.840,1.820,2.26,1.800,1.24,1.69,1.95,1.200,1.29,1.360,...,0.83,4.830,6.50,37.437344,7.330000,5.83,7.00,5.480,5.160,8.16
32186,0.000,0.000,0.00,0.000,0.00,0.00,0.00,0.000,0.00,0.000,...,5.97,5.700,6.41,6.880000,9.700000,8.25,8.91,8.300,7.410,7.80
32187,0.080,0.250,0.08,0.100,0.00,0.00,0.00,0.000,0.05,0.140,...,0.24,0.450,0.16,0.160000,0.170000,0.19,0.29,0.230,0.200,0.26

In [ ]:
#noramalisation process
scale = MinMaxScaler()
scaled = scale.fit_transform(data.values.T).T
mData = pd.DataFrame(data=scaled, columns=data.columns)
preprData = pd.concat([infoData, mData], axis=1, sort=False)

In [ ]:
print(preprData)

       FLAG                           CONS_NO  2014-01-01 00:00:00  \
0         1  0387DD8A07E07FDA6271170F86AD9151             0.000000
1         1  4B75AC4F2D8434CFF62DB64D0BB43103             0.108235
2         1  B32AC8CC6D5D805AC053557AB05F5343             0.077443
3         1  EDFC78B07BA2908B3395C4EB2304665E             0.111323
4         1  6BCFD78138BC72A9BA1BFB0B79382192             0.141255
...     ...                               ...                  ...
32183     0  70E6E487AC4DC54FD912E4F01F08F4DB             0.178546
32184     0  9E726157C304B05D0057FCA8EF4A0DE4             0.000000
32185     0  6B748296C244E9AC3F80A61D859BE74E             0.049149
32186     0  038BAAC5F0A7AFA46BAAC8CB76E77C67             0.000000
32187     0  C4D81686BEF24091C802E6C38C4166C4             0.027742

       2014-01-10 00:00:00  2014-01-11 00:00:00  2014-01-12 00:00:00  \
0                 0.000000             0.000000             0.000000
1                 0.127642             0.142198             0.170936
2                 0.091330             0.101744             0.122307
3                 0.131284             0.146255             0.175813
4                 0.185367             0.199915             0.238866
...                    ...                  ...                  ...
32183             0.000000             0.000000             0.227481
32184             0.000000             0.000000             0.000000
32185             0.048615             0.060368             0.048080
32186             0.000000             0.000000             0.000000
32187             0.086694             0.027742             0.034677

       2014-01-13 00:00:00  2014-01-14 00:00:00  2014-01-15 00:00:00  \
0                 0.000000             0.000000             0.000000
1                 0.132867             0.158620             0.144064
2                 0.095068             0.113494             0.103080
3                 0.136658             0.163145             0.148174
4                 0.229011             0.232765             0.186775
...                    ...                  ...                  ...
32183             0.169950             0.176657             0.178357
32184             0.000000             0.000000             0.000000
32185             0.033122             0.045142             0.052087
32186             0.000000             0.000000             0.000000
32187             0.000000             0.000000             0.000000

       2014-01-16 00:00:00  ...  2016-09-28 00:00:00  2016-09-29 00:00:00  \
0                 0.000000  ...             0.276942             0.272564
1                 0.131748  ...             0.310149             0.372290
2                 0.094267  ...             0.173580             0.266779
3                 0.135506  ...             0.682138             0.398074
4                 0.190060  ...             0.264676             0.518090
...                    ...  ...                  ...                  ...
32183             0.157574  ...             0.067356             0.082566
32184             0.000000  ...             0.702059             0.578066
32185             0.032054  ...             0.022170             0.129016
32186             0.000000  ...             0.304567             0.290792
32187             0.000000  ...             0.083226             0.156049

       2016-09-03 00:00:00  2016-09-30 00:00:00  2016-09-04 00:00:00  \
0                 0.463030             0.207980             0.744898
1                 0.535575             0.488736             1.000000
2                 0.314580             0.496438             0.715683
3                 0.588090             0.518609             0.469474
4                 0.292833             0.293772             0.394199
...                    ...                  ...                  ...
32183             0.059138             0.075008             0.077842
32184             0.541534             0.644233             0.651132
32185             0.173623             1.000000             0.195794
32186             0.327014             0.350991             0.494857
32187             0.055484             0.055484             0.058952

       2016-09-05 00:00:00  2016-09-06 00:00:00  2016-09-07 00:00:00  \
0                 0.493953             0.724374             0.513110
1                 0.683372             0.766227             0.589133
2                 0.495904             0.389620             0.342353
3                 0.563522             0.627629             0.696342
4                 0.303158             0.361349             0.260922
...                    ...                  ...                  ...
32183             0.088423             0.085022             0.075575
32184             0.731850             0.610680             0.576718
32185             0.155727             0.186979             0.146378
32186             0.420884             0.454554             0.423434
32187             0.065887             0.100565             0.079758

       2016-09-08 00:00:00  2016-09-09 00:00:00
0                 0.488207             0.408298
1                 0.694382             0.575510
2                 0.517268             0.425137
3                 0.706706             0.664480
4                 0.333192             0.238396
...                    ...                  ...
32183             0.071135             0.063389
32184             0.571324             0.802908
32185             0.137830             0.217964
32186             0.378030             0.397926
32187             0.069355             0.090161

[32188 rows x 1036 columns]

In [ ]:
preprData.to_csv(r'data_preprocessing.csv', index=False, header=True)

##The Preprocessed file

In [ ]:
#importing  libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error, confusion_matrix, \
    precision_recall_fscore_support, roc_auc_score
from tensorflow.keras import Sequential
import tensorflow as tf
from tensorflow import keras
from tensorflow.python.keras.layers import Dense, Conv1D, Flatten, Conv2D,AveragePooling2D,MaxPooling2D,Dropout
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
import numpy as np
from sklearn.model_selection import GridSearchCV
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt

In [ ]:
tf.random.set_seed(1234)
epochs_number = 3  # number of epochs for the neural networks
test_set_size = 0.2 # percentage of the test size comparing to the whole dataset
oversampling_flag = 0  # set to 1 to over-sample the minority class
oversampling_percentage = 0.2  # percentage of the minority class after the oversampling comparing to majority class

In [ ]:
rawData = pd.read_csv('data_preprocessing.csv')
# Setting the target and dropping the unnecessary columns
y = rawData[['FLAG']]
X = rawData.drop(['FLAG', 'CONS_NO'], axis=1)

print('Normal Consumers:                    ', y[y['FLAG'] == 0].count()[0])
print('Consumers with Fraud:                ', y[y['FLAG'] == 1].count()[0])
print('Total Consumers:                     ', y.shape[0])
print("Classification assuming no fraud:     %.2f" % (y[y['FLAG'] == 0].count()[0] / y.shape[0] * 100), "%")
# columns reindexing according to dates
X.columns = pd.to_datetime(X.columns)
X = X.reindex(X.columns, axis=1)

# Splitting the dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y['FLAG'], test_size=test_set_size, random_state=42)
print("Test set assuming no fraud:           %.2f" % (y_test[y_test == 0].count() / y_test.shape[0] * 100), "%\n")

# Oversampling of minority class to encounter the imbalanced learning
if oversampling_flag == 1:
  over = SMOTE(sampling_strategy=oversampling_percentage, random_state=0)
  X_train, y_train = over.fit_resample(X_train, y_train)
  print("Oversampling statistics in training set: ")
  print('Normal Consumers:                    ', y_train[y_train == 0].count())
  print('Consumers with Fraud:                ', y_train[y_train == 1].count())
  print("Total Consumers                      ", X_train.shape[0])

Normal Consumers:                     28609
Consumers with Fraud:                 3579
Total Consumers:                      32188
Classification assuming no fraud:     88.88 %
Test set assuming no fraud:           89.27 %

In [ ]:
X

In [ ]:
def results(y_test, y_pred):
    print("Accuracy", 100 * accuracy_score(y_test, y_pred))
    print("RMSE:", mean_squared_error(y_test, y_pred, squared=False))
    print("MAE:", mean_absolute_error(y_test, y_pred))
    print("F1:", 100 * precision_recall_fscore_support(y_test, y_pred)[2])
    print("AUC:", 100 * roc_auc_score(y_test, y_pred))
    print("confusion matrix:",confusion_matrix(y_test, y_pred), "\n")

In [ ]:
print('2D - Convolutional Neural Network:')

n_array_X_train = X_train.to_numpy()
n_array_X_train_extended = np.hstack((n_array_X_train,np.zeros((n_array_X_train.shape[0],2))))
#an exact multiple of 7
week =[]
for i in range(n_array_X_train_extended.shape[0]):
  a = np.reshape(n_array_X_train_extended[i],(-1,7,1))
  week.append(a)
X_train_reshaped =np.array(week)

# Transforming the dataset into tensors
n_array_X_test = X_test.to_numpy()
n_array_X_test_extended = np.hstack((n_array_X_test,np.zeros((n_array_X_test.shape[0],2))))
week2 =[]
for i in range(n_array_X_test_extended.shape[0]):
  b = np.reshape(n_array_X_test_extended[i],(-1,7,1))
  week2.append(b)
X_test_reshaped =np.array(week2)
input_shape=(1,148,7,1)
# model1 creation
model1 = Sequential()
model1.add(Conv2D( kernel_size=(7,3),filters=32, input_shape=input_shape[1:], activation='relu',
                  data_format ='channels_last'))
#model1.add(MaxPooling2D(kernel_size=(7,3)))
model1.add(Flatten())
model1.add(Dense(100, activation='relu'))
model1.add(Dense(100, activation='relu'))
model1.add(Dense(64, activation='relu'))
model1.add(Dense(32, activation='relu'))
model1.add(Dense(1, activation='sigmoid'))
model1.add(Dropout(0.2))

model1.compile(loss=keras.losses.binary_crossentropy,
                  optimizer='adam',
                  metrics=['accuracy'])

    
model1.fit(X_train_reshaped, y_train, epochs=3, validation_split=0.1, shuffle=False, verbose=1)
prediction2 = model1.predict(X_test_reshaped)
model1.summary()
#y_pred = np.where(prediction2> 0.5, 1, 0)
#results(y_test, y_pred)
print('1D - Convolutional Neural Network:')

# Transforming the dataset into tensors
X_train = X_train.to_numpy().reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.to_numpy().reshape(X_test.shape[0], X_test.shape[1], 1)

# Model creation
model = Sequential()
model.add(Conv1D(100, kernel_size=7, input_shape=(1034, 1), activation='relu'))
model.add(Flatten())
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss=keras.losses.binary_crossentropy,
                  optimizer='adam',
                  metrics=['accuracy'])

    # model.fit(X_train, y_train, epochs=1, validation_split=0.1, shuffle=False, verbose=1)
model.fit(X_train, y_train, epochs=epochs_number, validation_split=0, shuffle=False, verbose=1)
prediction = model.predict(X_test)
model.summary()

n= len(prediction2)
for i in range(n):
  if (prediction[i]!=prediction2[i]):
    prediction[i]=0
results(y_test,prediction)

2D - Convolutional Neural Network:
Epoch 1/3
725/725 [==============================] - 6s 8ms/step - loss: 0.6048 - accuracy: 0.8868 - val_loss: 0.2997 - val_accuracy: 0.8901
Epoch 2/3
725/725 [==============================] - 5s 7ms/step - loss: 0.5654 - accuracy: 0.8951 - val_loss: 0.2932 - val_accuracy: 0.8897
Epoch 3/3
725/725 [==============================] - 5s 7ms/step - loss: 0.5272 - accuracy: 0.9080 - val_loss: 0.2966 - val_accuracy: 0.8889
Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 module_wrapper_28 (ModuleWr  (None, 142, 5, 32)       704
 apper)

 module_wrapper_29 (ModuleWr  (None, 22720)            0
 apper)

 module_wrapper_30 (ModuleWr  (None, 100)              2272100
 apper)

 module_wrapper_31 (ModuleWr  (None, 100)              10100
 apper)

 module_wrapper_32 (ModuleWr  (None, 64)               6464
 apper)

 module_wrapper_33 (ModuleWr  (None, 32)               2080
 apper)

 module_wrapper_34 (ModuleWr  (None, 1)                33
 apper)

 module_wrapper_35 (ModuleWr  (None, 1)                0
 apper)

=================================================================
Total params: 2,291,481
Trainable params: 2,291,481
Non-trainable params: 0
_________________________________________________________________
1D - Convolutional Neural Network:
Epoch 1/3
805/805 [==============================] - 11s 12ms/step - loss: 0.3015 - accuracy: 0.8930
Epoch 2/3
805/805 [==============================] - 10s 12ms/step - loss: 0.2213 - accuracy: 0.9174
Epoch 3/3
805/805 [==============================] - 10s 12ms/step - loss: 0.1510 - accuracy: 0.9444
Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 module_wrapper_36 (ModuleWr  (None, 1028, 100)        800
 apper)

 module_wrapper_37 (ModuleWr  (None, 102800)           0
 apper)

 module_wrapper_38 (ModuleWr  (None, 100)              10280100
 apper)

 module_wrapper_39 (ModuleWr  (None, 100)              10100
 apper)

 module_wrapper_40 (ModuleWr  (None, 64)               6464
 apper)

 module_wrapper_41 (ModuleWr  (None, 1)                65
 apper)

=================================================================
Total params: 10,297,529
Trainable params: 10,297,529
Non-trainable params: 0
_________________________________________________________________
Accuracy 89.2668530599565
RMSE: 0.3276148186520795
MAE: 0.10733146940043492
F1: [94.32909315  0.        ]
AUC: 50.0
confusion matrix: [[5747    0]
 [ 691    0]]

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
n= len(prediction)
for i in range(n):
  if (prediction2[i]!=prediction[i]):
    prediction2[i]==0
    results(y_test,prediction)

In [ ]:
y_pred.shape

In [ ]:
results(y_test, y_pred)

In [ ]:
print('1D - Convolutional Neural Network:')

# Transforming the dataset into tensors
X_train = X_train.to_numpy().reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.to_numpy().reshape(X_test.shape[0], X_test.shape[1], 1)

# Model creation
model = Sequential()
model.add(Conv1D(100, kernel_size=7, input_shape=(1034, 1), activation='relu'))
model.add(Flatten())
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss=keras.losses.binary_crossentropy,
                  optimizer='adam',
                  metrics=['accuracy'])

    # model.fit(X_train, y_train, epochs=1, validation_split=0.1, shuffle=False, verbose=1)
model.fit(X_train, y_train, epochs=epochs_number, validation_split=0, shuffle=False, verbose=1)
prediction = model.predict(X_test)
model.summary()
y_pred = np.where(prediction> 0.5, 1, 0)
results(y_test, y_pred)

1D - Convolutional Neural Network:
Epoch 1/3
805/805 [==============================] - 11s 13ms/step - loss: 0.3010 - accuracy: 0.8922
Epoch 2/3
805/805 [==============================] - 10s 12ms/step - loss: 0.2210 - accuracy: 0.9171
Epoch 3/3
805/805 [==============================] - 10s 12ms/step - loss: 0.1466 - accuracy: 0.9470
Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 module_wrapper_42 (ModuleWr  (None, 1028, 100)        800
 apper)

 module_wrapper_43 (ModuleWr  (None, 102800)           0
 apper)

 module_wrapper_44 (ModuleWr  (None, 100)              10280100
 apper)

 module_wrapper_45 (ModuleWr  (None, 100)              10100
 apper)

 module_wrapper_46 (ModuleWr  (None, 64)               6464
 apper)

 module_wrapper_47 (ModuleWr  (None, 1)                65
 apper)

=================================================================
Total params: 10,297,529
Trainable params: 10,297,529
Non-trainable params: 0
_________________________________________________________________
Accuracy 90.4318111214663
RMSE: 0.3093248919588223
MAE: 0.09568188878533707
F1: [94.67588591 52.8330781 ]
AUC: 72.6147688707907
confusion matrix: [[5477  270]
 [ 346  345]]

In [ ]:
n= len(prediction)
for i in range(n):
  if (prediction2[i]!=prediction[i]):
    prediction2[i]=0
results(y_test,prediction2)

NameError: ignored

In [ ]:
prediction

In [ ]:
prediction.shape

In [ ]:
y_pred = np.where(prediction> 0.5, 1, 0)
print(y_pred)

In [ ]:
y_test

In [ ]:
accuracy_score(y_test, y_pred)

In [ ]:
results(y_test, y_pred)

ann

In [ ]:
model = Sequential()
model.add(Dense(1000, input_dim=1034, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss=keras.losses.binary_crossentropy,
                  optimizer='adam',
                  metrics=['accuracy'])

    # model.fit(X_train, y_train, validation_split=0, epochs=i, shuffle=True, verbose=0)
model.fit(X_train, y_train, validation_split=0, epochs=1, shuffle=True, verbose=1)
pred = model.predict(X_test)
y_pred = np.where(pred> 0.05, 1, 0)
model.summary()

805/805 [==============================] - 36s 43ms/step - loss: 0.3574 - accuracy: 0.8869
Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 module_wrapper_48 (ModuleWr  (None, 1034, 1000)       2000
 apper)

 module_wrapper_49 (ModuleWr  (None, 1034, 100)        100100
 apper)

 module_wrapper_50 (ModuleWr  (None, 1034, 100)        10100
 apper)

 module_wrapper_51 (ModuleWr  (None, 1034, 100)        10100
 apper)

 module_wrapper_52 (ModuleWr  (None, 1034, 10)         1010
 apper)

 module_wrapper_53 (ModuleWr  (None, 1034, 1)          11
 apper)

=================================================================
Total params: 123,321
Trainable params: 123,321
Non-trainable params: 0
_________________________________________________________________

In [ ]:
pred

In [ ]:
y_pred

In [ ]:
y_prediction = np.where(pred> 0.05, 0, 1)
y_prediction

In [ ]:
y_test.shape

In [ ]:
accuracy_score( y_prediction,y_test)

In [ ]:
model.summary()
results(y_test, y_pred)

In [ ]:
from tensorflow.keras.utils import plot_model

In [ ]:
plot_model(model, show_shapes=True, show_layer_names=True)

In [ ]:

print("RMSE:", mean_squared_error(y_test, prediction, squared=False))
print("MAE:", mean_absolute_error(y_test, prediction)) 
print("F1:", 100 * precision_recall_fscore_support(y_test, prediction)[2])
print("AUC:", 100 * roc_auc_score(y_test, prediction))
print("confusion matrix:",confusion_matrix(y_test, prediction), "\n")

In [ ]:
model = RandomForestClassifier(n_estimators=100, min_samples_leaf=1, max_features='auto',  # max_depth=10,
                                   random_state=0, n_jobs=-1)
model.fit(X_train, y_train)
prediction = model.predict(X_test)
print("Random Forest")
results(y_test, prediction)

ValueError: ignored

In [ ]:
model = LogisticRegression(C=1000, max_iter=1000, n_jobs=-1, solver='newton-cg')
model.fit(X_train, y_train)
prediction = model.predict(X_test)
results(y_test, prediction)

In [ ]:
model = DecisionTreeClassifier(random_state=0)
model.fit(X_train, y_train)
prediction = model.predict(X_test)
results(y_test, prediction)

In [ ]:
model = SVC(random_state=0)
model.fit(X_train, y_train)
prediction = model.predict(X_test)
results(y_test, prediction)

THE VISUALIZATION PLOTS

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

rawData1 = pd.read_csv('visualization.csv', nrows=3) #taking first 3 rows
cols = rawData1.columns
rawData2 = pd.read_csv('visualization.csv', skiprows=187) #removing first 189 rows
rawData2.columns = cols
data = pd.concat([rawData1, rawData2], ignore_index=True) #ignore_index=True to make row index number 
                                            #continuous((0,1)+(0,1) ->form(0,1,0,1) to->(0,1,2,3))

In [ ]:
rawData1

In [ ]:
data

In [ ]:
data

In [ ]:
#plot 1D graph for consumer
fig, axs = plt.subplots(2, 1,figsize=(14,4))
fig.suptitle('Consumers With Fraud', fontsize=12)
plt.subplots_adjust(hspace=0.8)

data.loc[2].plot(ax=axs[1], color='firebrick', grid=True)
axs[1].set_title('Consumer 1', fontsize=16)
axs[1].set_xlabel('Dates of Consumption')
axs[1].set_ylabel('Consumption')

data.loc[0].plot(ax=axs[0], color='firebrick', grid=True)
axs[0].set_title('Consumer 0', fontsize=16)
axs[0].set_xlabel('Dates of Consumption')
axs[0].set_ylabel('Consumption')

In [ ]:


fig, axs = plt.subplots(2, 1,figsize=(14,4))
fig.suptitle('Consumers Without Fraud', fontsize=12)
plt.subplots_adjust(hspace=0.8)

data.loc[3].plot(ax=axs[0], color='#646400', grid=True)
axs[0].set_title('Consumer 33218', fontsize=12)
axs[0].set_xlabel('Dates of Consumption')
axs[0].set_ylabel('Consumption')

data.loc[4].plot(ax=axs[1], color='#646400', grid=True)
axs[1].set_title('Consumer 33218 ', fontsize=12)
axs[1].set_xlabel('Dates of Consumption')
axs[1].set_ylabel('Consumption')

In [ ]:
#statistics for consumer 
#with fraud
fig2, axs2 = plt.subplots(2, 2,figsize=(14,4))
fig2.suptitle('Statistics for Consumers with Fraud', fontsize=16)
plt.subplots_adjust(hspace=0.8)

data.loc[0].plot(ax=axs2[0, 0], color='firebrick', grid=True)
axs2[0, 0].set_title('Consumption of Consumer 0', fontsize=16)
axs2[0, 0].set_xlabel('Dates of Consumption')
axs2[0, 0].set_ylabel('Consumption')

data.loc[0].hist(color='firebrick', ax=axs2[0, 1], grid=True)
axs2[0, 1].set_title('Histogram', fontsize=16)
axs2[0, 1].set_xlabel('Values')
axs2[0, 1].set_ylabel('Frequency')

data.loc[0].plot.kde(color='firebrick', ax=axs2[1, 0], grid=True)
axs2[1, 0].set_title('Density Estimation', fontsize=16)
axs2[1, 0].set_xlabel('Values')
axs2[1, 0].set_ylabel('Density')

data.loc[0].describe().drop(['count']).plot(kind='bar', ax=axs2[1, 1], color='firebrick', grid=True)
axs2[1, 1].set_title('Statistics', fontsize=16)
axs2[1, 1].set_ylabel('Values')

In [ ]:

#without fraud
fig3, axs3 = plt.subplots(2, 2,figsize=(14,4))
fig3.suptitle('Statistics for Consumers without Fraud', fontsize=16)
plt.subplots_adjust(hspace=0.8)
data.loc[4].plot(ax=axs3[0, 0], color='teal', grid=True)
axs3[0, 0].set_title('Consumption of Consumer ', fontsize=16)
axs3[0, 0].set_xlabel('Dates of Consumption')
axs3[0, 0].set_ylabel('Consumption')

data.loc[4].hist(color='teal', ax=axs3[0, 1])
axs3[0, 1].set_title('Histogram', fontsize=16)
axs3[0, 1].set_xlabel('Values')
axs3[0, 1].set_ylabel('Frequency')

data.loc[4].plot.kde(color='teal', ax=axs3[1, 0], grid=True)
axs3[1, 0].set_title('Density Estimation', fontsize=16)
axs3[1, 0].set_xlabel('Values')
axs3[1, 0].set_ylabel('Density')

data.loc[4].describe().drop(['count']).plot(kind='bar', ax=axs3[1, 1], color='teal', grid=True)
axs3[1, 1].set_title('Statistics', fontsize=16)
axs3[1, 1].set_ylabel('Values')

In [ ]:
# 2D data plot 
fig4, axs4 = plt.subplots(2, 1)
fig4.suptitle('Four Week Consumption', fontsize=16)
plt.subplots_adjust(hspace=0.5)

for i in range(59, 83, 7):
    axs4[0].plot(data.iloc[1,i:i + 7].to_numpy(), marker='>', linestyle='-',
                 label='$week {i}$'.format(i=(i % 58) % 6))
#xs4[0].legend(loc='best')
axs4[0].set_title('With Fraud', fontsize=14)
axs4[0].set_ylabel('Consumption')
axs4[0].grid(True)

for i in range(59, 83, 7):
    axs4[1].plot(data.iloc[6,i:i + 7].to_numpy(), marker='>', linestyle='-',
                 label='$week {i}$'.format(i=(i % 58) % 6))
#xs4[1].legend(loc='best')
axs4[1].set_title('Without fraud' , fontsize=14)
axs4[1].set_ylabel('Consumption')
axs4[1].grid(True)


plt.show()

In [ ]:
fig5, axs5 = plt.subplots(1, 2,figsize=(14,4))
plt.figure(figsize=(20,20))

a = []
for i in range(59, 81, 7):
    a.append(data.iloc[2, i:i + 7].to_numpy())
cor = pd.DataFrame(a).transpose().corr()
cax = axs5[0].matshow(cor)
for (i, j), z in np.ndenumerate(cor):
    axs5[0].text(j, i, '{:0.1f}'.format(z), ha='center', va='center', color='white')
alpha = ['week 1', 'week 2', 'week 3', 'week 4']
axs5[0].set_xticklabels([''] + alpha)
axs5[0].set_yticklabels([''] + alpha)
axs5[0].set_title('Customer without Fraud', fontsize=16)


a = []
for i in range(59, 83, 7):
    a.append(data.iloc[4, i:i + 7].to_numpy())
cor = pd.DataFrame(a).transpose().corr()
cax = axs5[1].matshow(cor)
for (i, j), z in np.ndenumerate(cor):
    axs5[1].text(j, i, '{:0.1f}'.format(z), ha='center', va='center', color='white')
axs5[1].set_xticklabels([''] + alpha)
axs5[1].set_yticklabels([''] + alpha)
axs5[1].set_title('Customer with Fraud', fontsize=16)
fig5.colorbar(cax)